.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include list-reset;
}

.advantages-list__item {
  width: 570px;
  min-height: 299px;
  margin-bottom: 30px;
}

.advantage-item {
  position: relative;
  padding: 40px;
  padding-left: 41px;
  padding-top: 77px;
  padding-right: 45px;
  background-color: $color-white;
  border: 1px solid #EBEBEB;
  border-left: 3px solid $color-blue;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-blue;
    border: 1px solid $color-blue;
    border-left: 3px solid $color-blue;
    cursor: pointer;
  }

  &:hover .advantage-item__title,
  &:hover .advantage-item__description,
  &:focus .advantage-item__title,
  &:focus .advantage-item__description {
    color: $color-white;
  }

  &:hover svg,
  &:focus svg {
    fill: $color-white;
  }

  &:active {
    color: rgba($color-text, 0.3);
  }
}

.advantage-item svg {
  position: absolute;
  top: 37px;
  left: 42px;
  width: 36px;
  height: 35px;
  fill: $color-blue;
}

.advantage-item--stopwatch svg {
  left: 39px;
}

.advantage-item--hired svg {
  
}

.advantage-item--detective svg {
  top: 39px;
}

.advantage-item--tag svg {
  left: 41px;
}

.advantage-item__title {
  margin: 15px 0;
  padding: 0;
  font-family: $font-title;
  @include font(14px, 16px);
  font-weight: 400;
  color: $color-blue;
}

.advantage-item__description {
  margin: 0;
  @include font(16px, 22px);
  font-weight: 400;
  color: $color-grey-light;
}

@media (max-width: $tablet-width) {
  .advantages-list__item {
    width: 345px;
    min-height: 232px;
  }

  .advantage-item {
    padding: 20px;
    padding-left: 24px;
    padding-top: 55px;
    padding-right: 20px;
  }

  .advantage-item svg {
    top: 22px;
    left: 23px;
  }

  .advantage-item--stopwatch svg {
    left: 21px;
  }

  .advantage-item--hired svg {
    top: 20px;
  }

  .advantage-item--detective svg {
    top: 21px;
    left: 22px;
  }

  .advantage-item--detective .advantage-item__description {
    margin-top: 13px;
  }

  .advantage-item--tag svg {
    left: 23px;
  }

  .advantage-item__title {
    margin: 9px 0;
  }
}

@media (max-width: $mobile-width) {
  .advantages-list__item {
    width: 290px;
    margin-bottom: 20px;
  }

  .advantage-item__title {
    @include font(20px, 28px);
  }

  .advantage-item {
    padding-top: 62px;
    padding-right: 13px;
    padding-bottom: 25px;
  }

  .advantage-item--hired {
    padding-right: 12px;
  }

  .advantage-item--hired svg {
    top: 21px;
    left: 22px;
  }

  .advantage-item--detective {
    padding-right: 18px;
    padding-top: 57px;
  }

  .advantage-item--detective .advantage-item__description {
    margin-top: -16px;
  }

  .advantage-item__title {
    margin: 8px 0;
  }
}
