.feedback {
  background-color: $color-blue;
  @include background("../img/background-desktop-feedback-img.png");
  background-position: 18% -60px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-desktop-feedback-img@2x.png");
    background-size: 1920px auto;
  }
}

.feedback__wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 1170px;
  width: 81%;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 52px;
}

.feedback__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: $font-title;
  @include font(36px, 51px);
  font-weight: 400;
  color: $color-white;
}

.feedback__text {
  margin: 0;
  padding: 0;
  padding-left: 4px;
  @include font(16px, 22px);
  font-weight: 400;
  color: $color-white;
}

@media (max-width: $tablet-width) {
  .feedback {
    background-image: none;
  }

  .feedback__wrapper {
    width: 77%;
    justify-content: center;
    padding-top: 81px;
    padding-bottom: 42px;
  }

  .feedback__title {
    margin-bottom: 16px;
    @include font(32px, 45px);
  }

  .feedback__text {
    padding-left: 3px;
  }
}

@media (max-width: $mobile-width) {
  .feedback__wrapper {
    width: 91%;
    min-width: 290px;
    padding-top: 30px;
    padding-bottom: 3px;
    flex-direction: column;
  }

  .feedback__title {
    margin-bottom: 14px;
    @include font(28px, 39px);
  }

  .feedback__text {
    padding-left: 0;
  }
}
