.footer-logo {
  display: block;
  margin: 0;
  margin-right: 30px;
  text-align: left;
}

@media (max-width: $tablet-width) {
  .footer-logo {
    margin-right: 85px;
  }
}

@media (max-width: $mobile-width) {
  .footer-logo {
    margin-right: 0;
  }
}
