.main-screen {
  margin-top: -110px;
  background-color: $color-grey;
  background-image: url("../img/background-desktop-img.png"), url("../img/background-mask.png");
  background-position: 50% 0;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-desktop-img@2x.png"), url("../img/background-mask@2x.png");
  }
}

.main-screen__wrapper {
  position:  relative;
  max-width: 1411px;
  width: 97%;
  height: 878px;
  margin: 0 auto;
  padding-top: 110px;
}

.main-screen__page-title {
  margin-top: 180px;
  margin-bottom: 27px;
}

.main-screen__page-description {
  margin-bottom: 44px;
}

.main-screen__button {
  margin-left: 96px;
  margin-bottom: 70px;
}

.main-screen__btn-text-mobile {
  display: none;
}

.main-screen__btn-text-desktop {
  display: block;
}

.main-screen__scroll {
  position: absolute;
  left: -40px;
  bottom: 127px;
  display: block;
  width: 93px;
  height: 16px;
  @include font(14px, 16px);
  font-weight: 400;
  color: $color-white;
  opacity: 0.5;
  transform: rotate(-90deg);
}

@media (max-width: $tablet-width) {
  .main-screen {
    position: relative;
    background-image: url("../img/background-mask.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-mask@2x.png");
    }

    &::after {
      content: "";
      width: 320px;
      height: 450px;
      top: 0;
      right: 0;
      position: absolute;
      background-image: url("../img/background-mobile-img.png");
      background-position: 0 0;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/background-mobile-img@2x.png");
      }
    }
  }

  .main-screen__wrapper {
    width: 94%;
    height: 684px;
    padding-left: 64px;
  }

  .main-screen__page-title {
    position: relative;
    z-index: 1;
    margin-top: 53px;
    margin-bottom: 28px;
    width: 56%;
  }

  .main-screen__page-description {
    margin-bottom: 56px;
  }

  .main-screen__button {
    margin-left: 49px;
  }

  .main-screen__scroll {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-screen {
      background-image: url("../img/background-mobile-img.png"), url("../img/background-mask.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-mobile-img@2x.png"), url("../img/background-mask@2x.png");
    }
  }

  .main-screen__wrapper {
    min-width: 320px;
    width: 91%;
    height: 646px;
    padding-left: 15px;
  }

  .main-screen__page-title {
    margin-top: 151px;
    margin-bottom: 27px;
    width: 277px;
  }

  .main-screen__page-description {
    margin-bottom: 40px;
  }

  .main-screen__button {
    margin-left: 3px;
  }

  .main-screen__btn-text-mobile {
    display: block;
  }

  .main-screen__btn-text-desktop {
    display: none;
  }
}
