.main-nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1411px;
  width: 97%;
  margin: 0 auto;
  padding-top: 33px;
  @include font(16px, 18px);
  color: $color-white;
}

.main-nav__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77%;
}

.main-nav__toggle {
  display: block;
  width: 37px;
  height: 37px;
  @include background("../img/compare.svg");
  background-position: 50% 50%;
}

.main-nav__navigation {
  display:flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-left: 37px;
}

.main-nav__button {
  margin-left: 48px;
  margin-right: 2px;
}

@media (max-width: $tablet-width) {
  .main-nav {
    max-width: 94%;
    padding: 0;
    padding-top: 20px;
  }

  .main-nav__nav-wrapper {
    justify-content: flex-end;
  }

  .main-nav__toggle {
    height: 13px;
    margin-bottom: 5px;
  }

  .main-nav__navigation {
    flex-grow: 0;
    margin-left: 3px;
  }

  .main-nav__button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    min-width: 290px;
    width: 91%;
    padding-top: 10px;
  }

  .main-nav__toggle {
    top: 15px;
    right: 115px;
    margin-right: -22px;
  }

  .main-nav__navigation {
    margin-left: 26px;
  }
}
