@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.modal {
  position: absolute;
  z-index: 10;
  display: none;
  color: $color-white;

  background-color: $color-blue;
  box-shadow: 0 10px 20px rgba($color-black, 0.4);
}

.modal-feedback {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: none;
  width: 490px;
  height: 605px;
  padding: 30px 39px;
}

.overlay-show {
  display: block;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-feedback__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: $font-title;
  @include font(28px, 39px);
  font-weight: 400;
}

.modal-feedback__text {
  margin: 0;
  padding: 0;
  padding-right: 30px;
  @include font(16px, 22px);
  font-weight: 400;
}
