.page-title {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  font-family: $font-title;
  @include font(80px, 94px);
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-white;
}

@media (max-width: $tablet-width) {
  .page-title {
    @include font(60px, 70px);
  }
}

@media (max-width: $mobile-width) {
  .page-title {
    @include font(40px, 47px);
  }
}
