.sections {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sections__toggle-sections,
.sections__toggle-contacts {
  display: none;
}

.sections__title {
  margin-bottom: 25px;
  font-family: $font-title;
  @include font(15px, 16px);
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-grey-dark;
}

.sections__text {
  margin: 0;
  padding: 0;
  @include font(15px, 25px);
  font-weight: 400;
  color: $color-grey-dark;
  opacity: 0.5;
}

.sections__list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  @include list-reset;
  height: 100px;
}

.sections__list li {
  width: 48%;
}

.sections-link {
  @include font(15px, 25px);
  font-weight: 400;
  color: $color-grey-dark;
  opacity: 0.5;
}

.sections__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .sections__list {
    height: auto;
  }

  .sections__list li {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .sections {

    &::before {
      content: "";
      position: absolute;
      width: calc(1.5*100vw);
      height: 1px;
      right: calc(-50vw);
      top: 0;
      border-top: 1px solid #626962;
      opacity: 0.2;
    }
  }

  .sections__title {
    margin: 30px 0;
  }

  .sections--opened .sections__toggle-sections,
  .sections--opened .sections__toggle-contacts {
    background-image: url("../img/icon-menu-close.svg");
    background-position: 100% 32px;
    background-repeat: no-repeat;
  }

  .sections--closed .sections__toggle-sections,
  .sections--closed .sections__toggle-contacts {
    background-image: url("../img/icon-menu-open.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }

  .sections__toggle-sections,
  .sections__toggle-contacts {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
  }

  .sections--closed .sections__list,
  .sections--closed .sections__wrapper {
    display: none;
  }
  .sections--opened .sections__list,
  .sections--opened .sections__wrapper {
    position: static;
    top: 79px;
    right: 0;
    z-index:10;
    margin-bottom: 20px;
  }
}
