.section-wrapper {
  background-color: $color-white;
  @include background("../img/background-desktop-info.png");
  background-position: 50% -30px;
  background-size: 1930px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-desktop-info@2x.png");
  }
}

@media (max-width: $tablet-width) {
  .section-wrapper {
    background-image: url("../img/triangle.png");
    background-position-x: 202px;
    background-position-y: 92px;
    background-size: auto;
  }
}

@media (max-width: $mobile-width) {
  .section-wrapper {
    background-position-x: -128px;
    background-position-y: 652px
  }
}
