.social {
  width: 112px;
  align-self: flex-start;
  margin-top: 120px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  @inlude list-reset;
}

.social__link:focus svg,
.social__link:hover svg {
  opacity: 0.8;
}

.social__link:active svg {
  opacity: 0.3;
}

@media (max-width: $tablet-width) {
  .social {
    margin-top: 0;
    align-self: center;
  }
}
