.page-header {
  height: 110px;
  background-color: $color-grey;
}

.page-header__logo {
  width: 202px;
  height: 52px;
}

@media (max-width: $mobile-width) {
  .page-header__logo {
    width: 42px;
    padding-top: 7px;
    padding-left: 2px;
  }
}
