$tablet-width: 1023px;
$mobile-width: 767px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-text: "PT Mono", "Arial", sans-serif;
$font-title: "Roboto Condensed", "Arial", sans-serif;
$font-logo: "Roboto", "Arial", sans-serif;

$color-white: #FFFFFF;
$color-black: #000000;
$color-text: #444444;
$color-grey: #1B2D37;
$color-grey-light: #666666;
$color-grey-dark: #1B2D37;
$color-blue: #00B2FF;
$color-footer: #FAFAFA;

@mixin font ($size, $line) {
  font-size: $size;
  line-height: $line;
}

@mixin background ($dir) {
  background-image: url($dir);
  background-repeat: no-repeat;
}

@mixin list-reset () {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*body {
  background: url("../../pixel/SD-desktop.jpg") no-repeat 50% 0;
  background-size: 1920px auto;
  min-height: 750px;
}
/*body > * {
  outline: 2px solid rgba(0, 0 , 150, 0.4);
}

body > * > * {
  outline: 2px solid rgba(0, 0 , 255, 0.4);
}

body > * > * > * {
  outline: 2px solid rgba(0, 150 , 255, 0.4);
}

body > * > * > * > * {
  outline: 2px solid rgba(0, 255 , 255, 0.4);
}

body > * > * > * > * > * {
  outline: 2px solid rgba(150, 255 , 255, 0.4);
}

body > * > * > * > * > * > * {
  outline: 2px solid red;
}

body > * > * > * > * > * > * > * {
  outline: 2px solid rgba(0, 150 , 255, 0.4);
}*/
@media (max-width: $tablet-width) {
  /*body {
    background: url("../../pixel/SD-tablet.jpg") no-repeat 50% 0;
    background-size: 770px auto;
  }*/
}

@media (max-width: $mobile-width) {
  /*body {
    background: url("../../pixel/SD-mobile.jpg") no-repeat 50% 0;
    background-size: 320px auto;
  }*/
}
